<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <title>Tennis Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <script src="goBack.js" defer></script>
</head>

<body>
    <div>
        <a class="text-dark back" href="home.html"><i class="fas fa-arrow-left fa-2x"></i></a>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card d-flex justify-content-center mt-5 mr-6">
            <div>
                <h3 class="d-flex justify-content-center">Σύνδεση</h3>
            </div>
            <div>
                {{#if mistake}}
                <span class="ml-4 text-danger">Το όνομα χρήστη ή ο κωδικός είναι λάθος</span>
                <script>
                    document.querySelector(".card").style.height = "400px";
                </script>
                {{/if}}
                <form method="POST" accept-charset="utf-8">
                    <div class="input-group-prepend d-flex justify-content-center input">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" name="username" class="form-control" placeholder="username" required>
                    </div>
                    <div class="input-group-prepend d-flex justify-content-center input">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="password" required>
                    </div>
                    <div class="d-flex justify-content-center input">
                        <input type="checkbox" class="form-control" id="remember" name="rem">
                        <label for="remember">Να με θυμάσαι</label>
                    </div>
                    <div class="d-flex justify-content-center input">
                        <input type="submit" value="login" class="btn btn-primary login-btn">
                    </div>
                </form>
            </div>
            <div>
                <div class="d-flex justify-content-center link input">
                    Δεν έχετε λογαριασμό;<a href="sign-up.html">Εγγραφή</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>