<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8">
    <title>Tennis Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="user-info.css">
    <script src="goBack.js" defer></script>
    <script src="editInfo.js" defer></script>
</head>

<body>
    <div>
        <a class="text-light back" href="home.html"><i class="fas fa-arrow-left fa-2x"></i></a>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="card d-flex justify-content-center mt-5 mr-6">
            <div class="d-flex justify-content-center">
                <h3 class="mt-4">Πληροφορίες Χρήστη</h3>
            </div> 
            <div>
                <div class="text-danger text-center warning">

                </div>
                <form method="POST">
                    <div class="form-group row input">
                        <label for="username" class="col-form-label col-sm-4">Όνομα χρήστη</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="username" disabled>
                        </div>
                    </div>
                    <div class="form-group row input">
                        <label for="name" class="col-form-label col-sm-4">Όνομα</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="name" disabled>
                        </div>
                    </div>
                    <div class="form-group row input">
                        <label for="surname" class="col-form-label col-sm-4">Επώνυμο</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="surname" disabled>
                        </div>
                    </div>
                    <div class="form-group row input">
                        <label for="email" class="col-form-label col-sm-4">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="email" disabled>
                        </div>
                    </div>
                    <div class="form-group row input">
                        <label for="phone" class="col-form-label col-sm-4">Τηλέφωνο</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="phone" disabled>
                        </div>
                    </div>
                    <div class="form-group row input">
                        <label for="birthdate" class="col-form-label col-sm-4">Ημερομηνία Γέννησης</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="birthdate" id="birthdate" disabled>
                            <script>
                            $(function () {
                                let maxDate = "2014-12-31";
                                let minDate = '1930-12-31';
                                $('#birthdate').attr('max', maxDate);
                                $('#birthdate').attr('min', minDate);
                            });
                        </script>
                        </div>
                    </div>
                </form>
                <div class=" d-flex justify-content-center">
                    <button type="button mb-4" class="btn btn-warning change-btn">Αλλαγή στοιχείων&nbsp;<i
                            class="fas fa-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>