<footer class="container-fluid bg-f">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">
            <div class="general-info">
                <h4>&nbsp;</h4>
                <h3><br>ΕΜΕΙΣ</h3><br>
                <div><i class="fas fa-globe">&nbsp;</i> Πανεπιστημιούπολη Πατρών 265 04</div><br><br>
                <div><i class="fas fa-phone">&nbsp;</i> 210-8720020</div><br><br>
                <div><i class="fas fa-envelope">&nbsp;</i> info@hmtytennis.gr</div><br><br>
                <div><i class="fas fa-clock">&nbsp;</i> Δευτέρα-Κυριακή 9:00-00:00</div><br>
                <h1>&nbsp;</h1>
                <h1>&nbsp;</h1>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="mapouter">
                <h1>&nbsp;</h1>
                <div class="gmap_canvas">
                    <iframe width="400px" height="340px" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=%CF%80%CE%B1%CE%BD%CE%B5%CF%80%CE%B9%CF%83%CF%84%CE%B7%CE%BC%CE%B9%CE%B1%CE%BA%CF%8C%20%CE%B3%CF%85%CE%BC%CE%BD%CE%B1%CF%83%CF%84%CE%AE%CF%81%CE%B9%CE%BF%20%CF%80%CE%B1%CF%84%CF%81%CF%8E%CE%BD&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</footer>