<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="main-menu">
            <li class="nav-item">
                <span class="nav-link" href="#"><i class="fas fa-baseball-ball" style="color: #C6ED2C;">&nbsp;</i></span>
            </li>
            <li class="nav-item" id="home">
                <a class="nav-link" href="home.html">ΑΡΧΙΚΗ</a>
            </li>
            <li class="nav-item" id="facilities">
                <a class="nav-link" href="facilities.html">ΕΓΚΑΤΑΣΤΑΣΕΙΣ</a>
            </li>
            <li class="nav-item" id="courts">
                <a class="nav-link" href="courts.html" onclick="setStorage()">ΔΙΑΘΕΣΙΜΟΤΗΤΑ ΓΗΠΕΔΩΝ</a>
            </li>
            <li class="nav-item" id="tournaments">
                <a class="nav-link" href="tournaments.html" onclick="setStorage()">ΤΟΥΡΝΟΥΑ</a>
            </li>
            <li class="nav-item" id="gallery">
                <a class="nav-link" href="gallery.html">GALLERY</a>
            </li>
            <li class="nav-item" id="contact">
                <a class="nav-link" href="contact.html">ΕΠΙΚΟΙΝΩΝΙΑ</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto last">
        
        </ul>
    </div>
</nav>

